{% extends 'layouts/site/layout.twig' %}

{% use "layouts/site/slides.twig" %}
{% block content %}
    <!-- NAVIGATION -->
    <div id="breadcrumb">
        <div class="container">
            <div class="information">
                <p class="section-title margint30">PRICING TABLES</p>
                <hr class="underline">
                <p class="breadcrumb-text">You are Here : <a href="#">Pages</a> > <a href="pricing-tables.html">Pricing Tables</a></p>
            </div>
        </div>
    </div>
    <!-- PRICE BOXES -->

    <div id="price-boxes-3" class="margint60">
        <div class="container">
            <div class="row marginb60">
                <div class="col-lg-4 col-sm-4">
                    <div class="price-box-columns">
                        <div class="price-box-header">
                            <h2>Plano mensal</h2>
                            <p class="margint10"></p>
                            <div class="price">
                                R$9,90 / Mês
                            </div>
                        </div>
                        <ul class="price-box-list margint40">
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="price-box-columns">
                        <div class="price-box-header">
                            <h2>Plano semestral</h2>
                            <p class="margint10"></p>
                            <div class="price bsns-color">
                                R$12,90 / Semestre
                            </div>
                        </div>
                        <ul class="price-box-list margint40">
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>
                            <li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>
                            <li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="price-box-columns">
                        <div class="price-box-header">
                            <h2>Plano anual</h2>
                            <p class="margint10"></p>
                            <div class="price bsns-color">
                                R$9,99 / Anual
                            </div>
                        </div>
                        <ul class="price-box-list margint40">
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor</li>
                            <li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>
                            <li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>
                            <li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<div id="price-boxes-4" class="margint60">#}
        {#<div class="container">#}
            {#<div class="row marginb60">#}
                {#<div class="col-lg-3 col-sm-6">#}
                    {#<div class="price-box-columns">#}
                        {#<div class="price-box-header">#}
                            {#<h2>Starter Plan</h2>#}
                            {#<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et neque!</p>#}
                            {#<div class="price">#}
                                {#20 USD / Month#}
                            {#</div>#}
                        {#</div>#}
                        {#<ul class="price-box-list margint40">#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-lg-3 col-sm-6">#}
                    {#<div class="price-box-columns">#}
                        {#<div class="price-box-header">#}
                            {#<h2>Business Plan</h2>#}
                            {#<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et neque!</p>#}
                            {#<div class="price bsns-color">#}
                                {#40 USD / Month#}
                            {#</div>#}
                        {#</div>#}
                        {#<ul class="price-box-list margint40">#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>#}
                            {#<li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>#}
                            {#<li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-lg-3 col-sm-6">#}
                    {#<div class="price-box-columns">#}
                        {#<div class="price-box-header">#}
                            {#<h2>Business Plan</h2>#}
                            {#<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et neque!</p>#}
                            {#<div class="price bsns-color">#}
                                {#40 USD / Month#}
                            {#</div>#}
                        {#</div>#}
                        {#<ul class="price-box-list margint40">#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>#}
                            {#<li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>#}
                            {#<li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="col-lg-3 col-sm-6">#}
                    {#<div class="price-box-columns">#}
                        {#<div class="price-box-header">#}
                            {#<h2>Business Plan</h2>#}
                            {#<p class="margint10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et neque!</p>#}
                            {#<div class="price bsns-color">#}
                                {#40 USD / Month#}
                            {#</div>#}
                        {#</div>#}
                        {#<ul class="price-box-list margint40">#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor</li>#}
                            {#<li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>#}
                            {#<li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>#}
                            {#<li>Lorem ipsum dolor <span class="pro-box">PRO</span></li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{% endblock %}