{% block navigation %}
    <div id="navigation">
    <div class="container-fluid">
    <a id="brand" href="#">BagShow</a>
    <a title="" data-placement="bottom" rel="tooltip" class="toggle-nav" href="#"
       data-original-title="Toggle navigation"><i class="icon-reorder"></i></a>
    <ul class="main-nav">
        <li class="active">
            <a href="/">
                <span>Principal</span>
            </a>
        </li>
    </ul>
    <div class="user">
        <ul class="icon-nav">
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-envelope-alt"></i><span
                            class="label label-lightred">4</span></a>
                <ul class="dropdown-menu pull-right message-ul">
                    <li>
                        <a href="#">
                            <img alt="" src="/img/demo/user-1.jpg">

                            <div class="details">
                                <div class="name">Jane Doe</div>
                                <div class="message">
                                    Lorem ipsum Commodo quis nisi ...
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="" src="/img/demo/user-2.jpg">

                            <div class="details">
                                <div class="name">John Doedoe</div>
                                <div class="message">
                                    Ut ad laboris est anim ut ...
                                </div>
                            </div>
                            <div class="count">
                                <i class="icon-comment"></i>
                                <span>3</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="" src="/img/demo/user-3.jpg">

                            <div class="details">
                                <div class="name">Bob Doe</div>
                                <div class="message">
                                    Excepteur Duis magna dolor!
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="more-messages" href="components-messages.html">Go to Message center <i
                                    class="icon-arrow-right"></i></a>
                    </li>
                </ul>
            </li>
            <li>
                <a data-placement="bottom" title=""
                   rel="tooltip" class="lock-screen logout" href="/"
                   data-original-title="Lock screen">
                    <i class="icon-lock"></i></a>
            </li>
        </ul>
        <div class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="username"></span><img alt="" src="" class="userImageURL"></a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href="/meus-dados">Meus dados</a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="logout">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
{% endblock %}