{% block footer %}
    <!-- FOOTER -->
    <div id="footer">
        <div class="container">
            <div class="row foo margint30 marginb25">
                {#<div class="col-lg-3 col-sm-6">#}
                    {#<h3>Sobre a bagshow</h3>#}
                    {#<div>#}
                        {#A BagShow possui mais de#}
                    {#</div>#}
                {#</div>#}
                <div class="col-lg-4 col-sm-6">
                    <h3>Tags</h3>
                    <ul id="tags" class="clearfix">
                        <li><a href="#">Ecológica</a></li>
                        <li><a href="#">Sustentável</a></li>
                        <li><a href="#">Sacolas personalizadas</a></li>
                        <li><a href="#">BagShow</a></li>
                        <li><a href="#">Moda</a></li>
                        <li><a href="#">Brindes</a></li>
                        <li><a href="#">Exclusividade</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <h3>Novidades</h3>
                    <p>Informe seu e-mail para receber nossas atualizações</p>
                    <input class="footer-input" type="text" name="mail" />
                    <input class="footer-submit" type="submit" value="Join Us!">
                </div>
                <div class="col-lg-4 col-sm-6 footer-contact">
                    <h3>Contato</h3>
                    <p>
                        QN 210 Conjunto C Lote 01 Sala 104<br />
                        Samambaia Norte - CEP: 72316-520<br />
                        Distrito Federal<br />
                        +55 61 3046-7008<br />
                        +55 61 9872-3911<br />
                        +55 61 9279-1472<br />
                        +55 61 8314-2294<br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    {#<div id="footer-last">#}
        {#<div class="container footer-text">#}
            {#<div class="pull-left footer-info">#}
                {#<p>© 2013 Boxme Powered by <span class="color-text">2035 Themes</span></p>#}
            {#</div>#}
            {#<div class="pull-right footer-social">#}
                {#<ul id="social" class="margint20 clearfix">#}
                    {#<li><a href="#"><i class="icon-facebook"></i></a></li>#}
                    {#<li><a href="#"><i class="icon-twitter"></i></a></li>#}
                    {#<li><a href="#"><i class="icon-google-plus"></i></a></li>#}
                    {#<li><a href="#"><i class="icon-skype"></i></a></li>#}
                    {#<li><a href="#"><i class="icon-flickr"></i></a></li>#}
                    {#<li><a href="#"><i class="icon-pinterest"></i></a></li>#}
                    {#<li><a href="#"><i class="icon-foursquare"></i></a></li>#}
                    {#<li><a href="#"><i class="icon-youtube"></i></a></li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <!-- SCROLL TO TOP -->
    <a href="#" class="scrollup"><i class="icon-angle-up"></i></a>
    <!-- JS FILES -->
    <script src="/js/site/vendor/jquery-1.10.1.min.js"></script>
    <script src="//da189i1jfloii.cloudfront.net/js/kinvey-html5-1.0.0.min.js"></script>
    <script src="/js/admin/plugins/angularjs/angular.min.js"></script>
    <script src="/js/admin/core/access-config.js"></script>
    <script src="/js/admin/configs/config.angular.js"></script>
    <!-- underscore -->
    <script src="/js/admin/plugins/underscore/underscore-min.js"></script>
    <!-- configs -->
    <script src="/js/admin/configs/config.angular.js"></script>
    <script src="/js/admin/configs/_noConflits.js"></script>

    <script src='/js/admin/core/core.js'></script>

    <!-- angular -->
    <script src="/js/admin/plugins/angularjs-ui/modules/bootstrap/ui-bootstrap-0.5.0.js"></script>
    <script src="/js/admin/plugins/angularjs-ui/modules/date/date.js"></script>
    <script src="/js/admin/plugins/angularjs-ui/modules/filters/currency.js"></script>
    <script src="/js/admin/plugins/angularjs-ui/modules/mask/app-phone-mask.js"></script>
    <script src="/js/admin/plugins/angularjs-ui/modules/mask/app-money-mask.js"></script>
    <script src="/js/admin/plugins/angularjs-ui/modules/date/app-datepicker.js"></script>
    <script src="/js/admin/plugins/angularjs-ui/modules/date/app-bootstrap-datepicker.js"></script>
    <script src="/js/admin/plugins/angularjs-ui/modules/utils.js"></script>

    <script src="/js/site/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/js/site/vendor/bootstrap.min.js"></script>
    <script src="/js/site/retina-1.1.0.min.js"></script>
    <script src="/js/site/hoverIntent.js"></script>
    <script src="/js/site/superfish.min.js"></script>
    <script src="/js/site/supersubs.js"></script>
    <script src="/js/site/jquery.carouFredSel.js"></script>
    <script src="/js/site/responsive-nav.min.js"></script>
    <script src="/js/site/jquery.prettyPhoto.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="/js/site/gmaps.js"></script>
    <script src="/js/site/jquery.parallax-1.1.3.js"></script>
    <script src="/js/site/jquery.isotope.min.js"></script>
    <script src="/js/site/excanvas.js"></script>
    <script src="/js/site/jquery.easy-pie-chart.js"></script>
    <script src="/js/site/main.js"></script>

    <script src="/js/site/pages/index/business-card.list.js"></script>
    <script src="/js/site/pages/bag-portfolio/bag-portfolio.portfolio.js"></script>

    <script type='text/javascript'>
        if (jQuery.fn.cssOriginal!=undefined)
            jQuery.fn.css = jQuery.fn.cssOriginal;
        jQuery('.fullwidthbanner').revolution({
            delay:9000,
            startwidth:1140,
            startheight:600,
            hideThumbs:200,
            thumbWidth:100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
            thumbHeight:50,
            thumbAmount:5,
            navigationType:"none",				// bullet, thumb, none
            navigationArrows:"solo",				// nexttobullets, solo (old name verticalcentered), none
            navigationStyle:"square",				// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom
            navigationHAlign:"center",				// Vertical Align top,center,bottom
            navigationVAlign:"bottom",					// Horizontal Align left,center,right
            navigationHOffset:0,
            navigationVOffset:20,
            soloArrowLeftHalign:"left",
            soloArrowLeftValign:"center",
            soloArrowLeftHOffset:20,
            soloArrowLeftVOffset:20,
            soloArrowRightHalign:"right",
            soloArrowRightValign:"center",
            soloArrowRightHOffset:20,
            soloArrowRightVOffset:20,
            touchenabled:"off",						// Enable Swipe Function : on/off
            onHoverStop:"on",						// Stop Banner Timet at Hover on Slide on/off
            stopAtSlide:-1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
            stopAfterLoops:-1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic
            hideCaptionAtLimit:0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
            hideAllCaptionAtLilmit:0,				// Hide all The Captions if Width of Browser is less then this value
            hideSliderAtLimit:0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value
            shadow:0,								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows  (No Shadow in Fullwidth Version !)
            fullWidth:"on"							// Turns On or Off the Fullwidth Image Centering in FullWidth Modus
        });
    </script>
    <!--
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    -->
{% endblock %}