{% block slides %}
    <!-- REVOLUTION SLIDER -->
    <div class="fullwidthbanner-container" >
        <div class="fullwidthbanner">
            <ul>
                <li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back">
                    <img src="/temp/sliders/background.jpg" alt="" />
                    <div class="caption rev-left rev-thin-title sft" data-x="0" data-y="90" data-speed="900" data-start="700" data-easing="easeOutExpo">SACOLAS SUSTENTÁVEIS</div>
                    <div class="caption rev-left rev-thin-title sft" data-x="0" data-y="125" data-speed="900" data-start="1000" data-easing="easeOutExpo">Sua empresa com estilo</div>
                    <div class="caption rev-left rev-bold-title sfl" data-x="0" data-y="165" data-speed="900" data-start="1300" data-easing="easeOutExpo">Ajudando o meio ambiente</div>
                    <div class="caption rev-text-box sfr" data-x="109"  data-y="220" data-speed="900" data-start="1600"  data-easing="easeOutExpo"  >+ 20 modelos de bolsas e brindes</div>
                    <div class="caption rev-text-box sfr" data-x="56"  data-y="257" data-speed="900" data-start="1900"  data-easing="easeOutExpo"  >+150 diferentes estampas</div>
                    <div class="caption rev-text-box sfr" data-x="121"  data-y="295" data-speed="900" data-start="2100"  data-easing="easeOutExpo"  >+15 clientes<br /> já possuem BagShow</div>
                    {#<div class="caption rev-left rev-button sfb" data-x="0"  data-y="320" data-speed="900" data-start="1600"  data-easing="easeOutExpo"  ><a href="#">ORÇAMENTO</a></div>#}
                    {#<div class="caption rev-left rev-button-2 sfb" data-x="145"  data-y="320" data-speed="900" data-start="1900"  data-easing="easeOutExpo"  ><a href="#">LEIA MAIS</a></div>#}
                    <div class="caption sft" data-x="580"  data-y="140" data-speed="900" data-start="1700"  data-easing="easeOutExpo"  ><img src="/temp/sliders/imac.png" alt="Image 4"></div>
                    <div class="caption sfl" data-x="500" data-y="280" data-speed="900" data-start="2000" data-easing="easeOutExpo"  ><img src="/temp/sliders/ipad.png" alt="Image 5"></div>
                    <div class="caption sfl" data-x="595" data-y="325" data-speed="900" data-start="2300" data-easing="easeOutExpo"  ><img src="/temp/sliders/iphone.png" alt="Image 6"></div>
                    <div class="caption rev-right sfr" data-x="right" data-y="250" data-speed="900" data-start="2600" data-easing="easeOutExpo"  ><img src="/temp/sliders/macbook.png" alt="Image 7"></div>
                </li>
                {#<li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back">#}
                    {#<img src="/temp/sliders/background2.jpg" alt="" />#}
                    {#<div class="caption rev-bthin-title sft" data-x="52" data-y="80" data-speed="900" data-start="700" data-easing="easeOutExpo">Sua empresa ajudando o meio ambiente</div>#}
                    {#<div class="caption rev-bthin-title sft" data-x="104" data-y="120" data-speed="900" data-start="1000" data-easing="easeOutExpo">Easy Customize</div>#}
                    {#<div class="caption rev-mbold-title sfl" data-x="141" data-y="170" data-speed="900" data-start="1300" data-easing="easeOutExpo">Simple, Great & Awesome</div>#}
                    {#<div class="caption rev-text-box sfr" data-x="109"  data-y="220" data-speed="900" data-start="1600"  data-easing="easeOutExpo"  >3 Headers Variations</div>#}
                    {#<div class="caption rev-text-box sfr" data-x="56"  data-y="257" data-speed="900" data-start="1900"  data-easing="easeOutExpo"  >5 Sliders + Revolution Slider</div>#}
                    {#<div class="caption rev-text-box sfr" data-x="121"  data-y="295" data-speed="900" data-start="2100"  data-easing="easeOutExpo"  >Easy Parallax Effect</div>#}
                    {#<div class="caption rev-text-box sfr" data-x="142"  data-y="333" data-speed="900" data-start="2300"  data-easing="easeOutExpo"  >Animated Pages</div>#}
                    {#<div class="caption rev-text-box sfr" data-x="74"  data-y="371" data-speed="900" data-start="2600"  data-easing="easeOutExpo"  >45+ Pages What you need</div>#}
                    {#<div class="caption rev-text-box sfr" data-x="62"  data-y="409" data-speed="900" data-start="2900"  data-easing="easeOutExpo"  >Minimal Responsive Design</div>#}
                    {#<div class="caption rev-right sfb" data-x="500" data-y="30" data-speed="900" data-start="2000"  data-easing="easeOutExpo"  ><img src="/temp/sliders/s4.jpg" alt="Image 4"></div>#}
                    {#<div class="caption sfb" data-x="460" data-y="145" data-speed="900" data-start="2300" data-easing="easeOutExpo"  ><img src="/temp/sliders/s3.jpg" alt="Image 5"></div>#}
                    {#<div class="caption sfb" data-x="410" data-y="230" data-speed="900" data-start="2600" data-easing="easeOutExpo"  ><img src="/temp/sliders/s2.jpg" alt="Image 6"></div>#}
                    {#<div class="caption sfb" data-x="350" data-y="330" data-speed="900" data-start="2900" data-easing="easeOutExpo"  ><img src="/temp/sliders/s1.jpg" alt="Image 7"></div>#}
                {#</li>#}
                {#<li data-transition="boxslide" data-slotamount="10" data-masterspeed="500" data-slideindex="back">#}
                    {#<img src="/temp/sliders/background3.jpg" alt="" />#}
                    {#<div class="caption rev-left sfb" data-x="0" data-y="50" data-speed="900" data-start="1200" data-easing="easeOutExpo"  ><img src="/temp/sliders/macbook2.png" alt="Image 5"></div>#}
                    {#<div class="caption fade" data-x="150" data-y="110" data-speed="900" data-start="1700" data-easing="easeOutExpo"  ><img src="/temp/sliders/retina_1.png" alt="Image 6"></div>#}
                    {#<div class="caption fade" data-x="350" data-y="250" data-speed="900" data-start="2000" data-easing="easeOutExpo"  ><img src="/temp/sliders/retina_2.png" alt="Image 7"></div>#}
                    {#<div class="caption rev-left rev-bthin-title sft" data-x="720" data-y="140" data-speed="900" data-start="1500" data-easing="easeOutExpo">Well Documented</div>#}
                    {#<div class="caption rev-left rev-p fade" data-x="720" data-y="200" data-speed="900" data-start="1800" data-easing="easeOutExpo">#}
                        {#Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil dolorum<br />#}
                        {#dicta nostrum deserunt porro nobis quibusdam. Voluptate consectetur<br />#}
                        {#distinctio libero quos repellendus!#}
                    {#</div>#}
                    {#<div class="caption rev-left rev-button sfb" data-x="720"  data-y="310" data-speed="900" data-start="2100"  data-easing="easeOutExpo"  ><a href="#">BUY NOW</a></div>#}
                    {#<div class="caption rev-left rev-button-2 sfb" data-x="850"  data-y="310" data-speed="900" data-start="2400"  data-easing="easeOutExpo"  ><a href="#">READ MORE</a></div>#}
                {#</li>#}
            </ul>
        </div>
        <!--<div class="tp-bannertimer tp-bottom"></div>-->
    </div>
{% endblock %}